Source: liblyric-totem
Priority: extra
Maintainer: wkt <weikting@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Section: libs
Homepage: https://github.com/wkt/liblyric
#Vcs-Git: git://git.debian.org/collab-maint/liblyric.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/liblyric.git;a=summary


Package: liblyric-dev
Section: libdevel
Architecture: any
Depends: liblyric (= ${binary:Version})
Description: C library for lyric things - development files
 This package contains development files for liblyric.

Package: liblyric-totem
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C library for lyric things with totem plugin as an example
 liblyric and totem plugin
